<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Bar Plot</title>

    <link rel="stylesheet" type="text/css" href="./barplot.css" />

    <label>Select the parking lot: </label>
    <select name="parkingLots" id="parkingLots"></select>

    <div id="plotArea">
        <div id="barPlotArea"></div>
        <div id="canvasBarPlot"></div>
        <div id="piePlotArea"></div>
    </div>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>
<body>
</body>
</html>
<script type="text/javascript" src="./moment.js"></script>
<script type="text/javascript" src="./Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script type="text/javascript" src="./testdata.js"></script>
<script type="text/javascript" src="./barplot.js"></script>