// typography
$fontFamily: 'Montserrat';

// colors

$bgColor: #444444;
$aspectColor: #54ff45;
$white: #FFFFFF;
$gray: #CCCCCC;
$transparentOverlay: rgba(0, 0, 0, 0.75);

// break points

$breakPointMobile: 768px;
$breakPointTablet: 1024px;
$breakPointDesktop: 1440px;
