/*---------- Fonts ----------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

/*---------- Variables ----------*/

@import 'variables';

/*---------- Global settings ----------*/

body {
  margin: 0px;
  padding: 0px;
  background: $bgColor;
  font-family: $fontFamily;
  color: $white;
  overflow-x: hidden;
  overflow-y: auto;
}

[v-cloak] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 35px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 1.2rem;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  word-wrap: break-word;
}

/*---------- Map ----------*/

.map {
  height: 100%;
  width: 75%;
  position: fixed;
  top: 0;
  left: 25%;

  & img {
    height: 100%;
    width: 100%;
  }
}

.leaflet-control {
  background: $darkGray !important;
 }
.leaflet-control-layers-expanded {
  background: $darkGray !important;
  color: $white !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background: $darkGray !important;
  color: $white !important;
}

/*---------- Sidebar ----------*/

.sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  background: $darkGray;
  /*backdrop-filter: blur(20px);
  background-clip: padding-box;*/
  @extend .h-box-shadow;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.sidebar__tabs {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  & > li {
    padding: 10px;
    flex: 1 1 0px;
    text-align: center;
    @extend .h-clickable;
    @extend .h-transition-fast;
    color: $gray;
    background: rgba(0, 0, 0, 0.4);

    &.active {
      color: $white;
      background: none;

      & > span {
        color: $aspectColor;
      }
    }

    &:not(.active):hover {
      color: $white;
    }

    & > span {
      margin-right: 10px;
      font-size: 0.9rem;
    }
  }
}

.sidebar__main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/*---------- Helper classes ----------*/

.h-readonly {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.h-clickable {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.h-box-shadow {
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.5);
}

.h-transition-fast {
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
}

.h-transition-slow {
  transition: 0.75s;
  -moz-transition: 0.75s;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
}

.h-hidden {
  display: none !important;
}

/*---------- Slider ----------*/

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  & > .slider__output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    background: $darkGray;
    border-radius: 8px;
    @extend .h-box-shadow;
    overflow: hidden;

    & > .slider__output-day {
      padding: 10px;
      color: $white;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    & > .slider__output-hour {
      padding: 10px;
      background: $white;
      color: $bgColor;
      font-weight: bold;
    }
  }

  & > .slider__controls {
    min-width: 65%;
    padding: 10px;
    background: $darkGray;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    @extend .h-box-shadow;
    overflow: hidden;

    & > .slider__days {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > .slider__day {
        height: 30px;
        width: 30px;
        margin-right: 5px;
        @extend .h-clickable;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;

        &:last-of-type {
          margin-right: 0;
        }

        &:not(.active):hover {
          background: rgba(255, 255, 255, 0.1);
        }

        &.active {
          background: $aspectColor;
          color: $bgColor;
        }
      }
    }

    & > input {
      margin-bottom: 10px;
    }

    & > .slider__buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > .slider__button {
        width: 48%;
        padding: 5px;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;

        & > .slider__button-icon {
          margin-right: 5px;
          font-size: 0.8rem;
        }

        &:hover > .slider__button-icon {
          color: $aspectColor;
        }

        & > .slider__button-label {
          width: 100%;
          font-size: 0.9rem;
          text-align: center;
        }
      }
    }
  }
}

/*---------- Table ----------*/

.table {
  width: 100%;

  & > .table__row {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;

    & > .table__heading {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      @extend .h-transition-fast;
      @extend .h-clickable;
      font-size: 0.9rem;
      font-weight: bold;

      &:not(.active):hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    &.active {
      border: 1px solid $gray;
      background: rgba(0, 0, 0, 0.25);

      & > .table__heading {
        background: $gray !important;
        color: $darkGray;
      }
    }

    & > .table__data {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      font-size: 0.8rem;
    }
  }
}

/*---------- Popup ----------*/

.popup {
  max-width: 30%;
  position: fixed;
  left: 25%;
  bottom: 0px;
  margin: 20px;

  & > .popup__box {
    margin-top: 20px;
    padding: 10px;
    background: $darkGray;
    font-size: 0.8rem;
    border-radius: 5px;
    @extend .h-box-shadow;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;

    &.active {
      display: block;
    }

    & > .popup__controls {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > .popup__control-button {
        margin-right: 5px;
        padding: 10px;
        border-radius: 3px;
        @extend .h-clickable;
        @extend .h-transition-fast;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow: hidden;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.8);
          color: $darkGray;
        }
      }
    }

    & > .popup__main {
      display: none;

      > canvas {
        width: 400px;
      }
    }

    &.active > {
      & > .popup__main {
        display: block;
      }
    }
  }
}
