/*---------- Fonts ----------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

/*---------- Variables ----------*/

@import 'variables';

/*---------- Global settings ----------*/

body {
  margin: 0px;
  padding: 0px;
  background: $bgColor;
  font-family: $fontFamily;
  color: $white;
  overflow-x: hidden;
  overflow-y: auto;
}

[v-cloak] {
  display: none !important;
}

/*---------- Dummy map ----------*/

.map {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  & img {
    height: 100%;
    width: 100%;
  }
}

/*---------- Sidebar ----------*/

.sidebar {
  height: 100%;
  width: 400px;
  max-width: 30vw;
  position: fixed;
  top: 0;
  left: 0;
  background: $transparentOverlay;
  /*backdrop-filter: blur(20px);
  background-clip: padding-box;*/
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.sidebar__tabs {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  & > li {
    padding: 10px;
    flex: 1 1 0px;
    text-align: center;
    @extend .h-clickable;
    @extend .h-transition-fast;
    color: $gray;
    background: rgba(0, 0, 0, 0.4);

    &.active {
      color: $white;
      background: none;

      & > span {
        color: $aspectColor;
      }
    }

    &:not(.active):hover {
      color: $white;
    }

    & > span {
      margin-right: 10px;
      font-size: 0.9rem;
    }
  }
}

.sidebar__main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/*---------- Helper classes ----------*/

.h-readonly {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.h-clickable {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.h-transition-fast {
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
}

.h-transition-slow {
  transition: 0.75s;
  -moz-transition: 0.75s;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
}

/*---------- Slider ----------*/

.slider {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .slider__output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;

    & > .slider__output-day {
      padding: 10px;
      background: rgba(255, 255, 255, 0.2);
      color: $white;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    & > .slider__output-hour {
      padding: 10px;
      background: $white;
      color: $bgColor;
      font-weight: bold;
    }
  }

  & > .slider__controls {
    min-width: 65%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;

    & > .slider__days {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > .slider__day {
        height: 30px;
        width: 30px;
        @extend .h-clickable;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;

        &:not(.active):hover {
          background: rgba(255, 255, 255, 0.1);
        }

        &.active {
          background: $aspectColor;
          color: $bgColor;
        }
      }
    }

    & > input {
      margin-bottom: 10px;
    }

    & > .slider__buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > .slider__button {
        width: 48%;
        padding: 5px;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;

        & > .slider__button-icon {
          margin-right: 5px;
          font-size: 0.8rem;
        }

        &:hover > .slider__button-icon {
          color: $aspectColor;
        }

        & > .slider__button-label {
          width: 100%;
          font-size: 0.9rem;
          text-align: center;
        }
      }
    }
  }
}
